<html>
<head>
<meta charset="utf-8">
</head>
<body>
    <div>
        <div style="background-color: rgb(11, 46, 34); height: 50px; padding: 20px;">
            <nav>
                <a href="#">Home</a>
                <a href="#">Services</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
    </div>  
    
<h1 style="color:rgb(73, 105, 73)";>
    Alaa Binzagr
  </h1>
  <img src="https://i.pinimg.com/564x/29/ff/03/29ff03839aed94495275881541d8b772.jpg" style="height:400px">
  <p> I'm working as IT, my hobbies are paniting and drawing, I'm goining to the gym everyday to make my life more healthy. and I want to devalop my skills by learning more subjects about IT filed, to encres my experince
  <p>
  <ul>
  analytical skills
  </ul>
  <ul>
  communication skills
  </ul>
  <ul>
  problem solving skills
  </ul>
  <ul>
  the ability to think logically
  </ul>
  <hr>
  </hr>
  <form>
    <label> Full Name</label> <input type="text" placeholder="Your full name">

    <label> Email </label> <input type="text" placeholder="Your Email">

    <label> Country </label>

    <select>
      <option>KSA</option>
      <option>UAE</option>
    </select>

    <label><b> Please select your age:</b></label>

    <input type="radio"> 18-25

    <input type="radio"> 25-35

    <input type="radio"> 35-60

    <b> You want to learn:</b>
 
    <input type="checkbox"> HTML
 
    <input type="checkbox">CSS
   
    <input type="checkbox"> JavaScript
  Message: 
   
    <button type="submit">Submit</button>
  </form>

</body>
</html>

